* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    color: darkslategray;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    background-color: navy;
    padding: 10px 20px;
    padding-top: 20px;
    flex-wrap: wrap;
}

nav li a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: deepskyblue;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease;
    border: none;
    display: inline-block;
}

nav li a:hover {
    background-color: royalblue;
    transform: scale(1.1);
}

img {
    width: 50px;
    height: 50px;
    padding: 2.5px;
    border-radius: 50%;
    border: 2px solid deepskyblue;
    background-color: white;
}

.Rubrik {
    text-align: center;
    padding: 20px;
    background-color: deepskyblue;
    margin-right: 70px;
    margin-left: 70px;
    border-radius: 0 0 15px 15px;
}

.Välkommen {
    text-align: center;
    padding: 20px;
    font-size: 15px;
}

h1 {
    background-color: white;
    color: navy;
    padding: 10px 15px;
    border-radius: 0 0 15px 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 20px;
}

.Intro {
    background-color: white;
    color: navy;
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

dl {
    background-color: gainsboro;
    border-radius: 12px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
}

dt {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    color: navy;
}

dd {
    background-color: white;
    padding: 12px 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    color: darkslategray;
    line-height: 1.6;
}

dd ol,
dd ul {
    margin-left: 20px;
    padding-left: 20px;
}

.Info {
    background-color: lightcyan;
    border-radius: 12px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-right: 20px;
}

.SäkerhetsBody p {
    background-color: aliceblue;
    padding: 12px 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    line-height: 1.6;
}

.Links {
    background-color: white;
    border-radius: 12px;
    padding: 15px 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.Links li {
    margin-left: 10px;
}

.vardagsExempel {
    text-align: center;
    font-size: 15px;
    color: black;
    padding: 20px;
}



.Källor {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    padding: 12px 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    color: darkslategray;
    line-height: 1.6;
    width: fit-content;
}

.Källor p {
    margin-left: 10px;
}


@media (max-width: 600px) {

    nav ul {
        flex-direction: column;
        gap: 5px;
    }

    nav li a {
        text-align: center;
        font-size: 14px;
        padding: 3px 1px;
        display: block;
    }

    .Rubrik {
        width: 95%;
        margin: 10px auto;
        padding: 10px;
    }

    h1 {
        display: block;
        width: 95%;
        margin: 10px auto;
        text-align: center;
        font-size: 18px;
    }

    .Välkommen {
        width: 95%;
        margin: 10px auto;
        font-size: 16px;
    }

    .Intro {
        font-size: 18px;
        width: 95%;
    }

    dl {
        width: 95%;
    }

    dd {
        font-size: 14px;
        width: 100%;
    }

    .Info,
    .Links {
        width: 95%;
    }

    section {
        flex-direction: column;
        gap: 20px;
    }

    dd ol,
    dd ul {
        margin-left: 15px;
        padding-left: 15px;
    }
}